{% extends "layout.html" %}

{% block title %}
    Delete User
{% endblock %}

{% block main %}
    <form action="/delete_user" method="post">
        Delete User:
        <p></p>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Old Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-danger" type="submit">Delete User</button>
    </form>
{% endblock %}
