{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Total Salaries</th>
            <th scope="col">Total Expenses</th>
            <th scope="col">Net Balance</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ total_salary }}</td>
                <td>{{ total_expenses }}</td>
                <td>{{ net_balance }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
